{% extends "base.html" %}
{% block specific_actions %}
<span title="Only show rows matching the given criteria" data-action-client="filterTable"
    class="action text-primary badge badge-pill badge-light">Filter table</span>
<span title="Edit multiple annotations" data-action-client="editMultiple"
    class="action text-primary badge badge-pill badge-light">Edit multiple</span>
{% endblock %}

{% block content %}
<div class="scrollable">
    <h4><span class="annotations_count">{{ annotations_count }}</span> annotations</h4>
    <p>Clicking on a column header sorts the rows by the value in that column.
        It also shows, in the other view, a summary of the values in that column. 
        <br />Clicking on a cell copies the cell value to the main form, in a format supported by the actions "Filter table"
        and "Search annotations". Click on "Filter table" to reduce the set of rows to those having the same value in that column.</p>
    <table class="annot_table">
        <thead>
            <tr>
                <th><input type="checkbox" class="action" data-action-client="toggleSelectAllRows" /> </th>
                {% for field in fields %}
                <th class="action" data-action-client="sortTable">{{ field }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for label, annotations in annotations_dict.items()|sort %}
            {% for annotation in annotations %}
            <tr>
                <td><input type="checkbox" class="select-row" /><span class="action"
                        data-action-client="gotoDocOtherView" data-docId="{{ annotation.docId }}">...</span></td>
                {% for field in fields %}
                <td class="action" data-action-client="setMPTextFromTable">{{ annotation[field] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    {% endblock content %}