{% extends "base.html" %}
{% block specific_actions %}
{% endblock %}

{% block content %}
<div class="scrollable">

    <h4>Summary</h4>
    <table class="summary">
        <thead>
            <th class="action" data-action-client="sortTable">Value of {{ property }}</th>
            <th class="action" data-action-client="sortTable">Occurences</th>
        </thead>
        <tbody>
            {% for value, annotations in annotations_by_property.items()|sort %}
            <tr>
                <td>{{ value }}</td>
                <td>{{ annotations|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}