<html>

<head>
    {% block head %}
    <link rel="stylesheet"
        href="{{root_url}}/files/{{notebookdir_rel}}/web/ext/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{root_url}}/files/{{notebookdir_rel}}/web/main.css" />
    {% endblock head %}
</head>

<body>
    {% block body %}
    <div class="container main-app {{ view }}" data-view="{{ view }}" id="{{ view }}">
        <div class="container app-menu">
            <div class="row">
                <div class="col col-1 px-1 text-right">
                    <button type="button" title="Overview of documents &amp; annotations"
                        data-action-client="annotationsOverview"
                        class="action align-top btn btn-sm btn-outline-dark"><img src="{{root_url}}/files/{{notebookdir_rel}}/web/img/house.svg"
                            alt="Home button" width="16" height="16" /></button>
                    <button type="button" title="Path settings"
                        data-action-client="goToSettings" data-action-server="select_data_locations"
                        class="action align-top btn btn-sm btn-outline-dark"><img src="{{root_url}}/files/{{notebookdir_rel}}/web/img/gear.svg"
                            alt="Path settings" width="16" height="16" /></button>

                </div>
                <div class="col col-6 px-1">
                    <textarea rows="4"
                        class="multipurpose-text searchtext labels-to-add w-100 line-height-min"></textarea>
                </div>
                <div class="col px-0 line-height-min">
                    <span title="Search in documents" data-action-client="search"
                        class="action text-primary badge badge-pill badge-light">Search</span>
                    <span title="Find texts with the given annotation" data-action-client="searchAnnotations"
                        class="action text-primary badge badge-pill badge-light">Search annotations</span>
                    <span title="Set annotations attributes: author, namespace, comment"
                        data-action-client="setAnnotAttributes"
                        class="action text-primary badge badge-pill badge-light">Cfg</span>

                    {% if doc_id %}
                    <span title="Add/edit/remove annotation" data-action-client="editAnnotation"
                        class="action action-editAnnotation text-primary badge badge-pill badge-light">Annotate</span>
                    {% endif %}
                    {% if content_category == 'search-results' %}
                    <span title="Annotate all items" data-action-client="annotateAll"
                        data-action-server="annotate_locations"
                        class="action text-primary badge badge-pill badge-light">Annotate all</span>
                    {% endif %}
                    <span title="Export view as HTML" data-action-server="export_view_to_file"
                        data-action-client="exportView"
                        class="action text-primary badge badge-pill badge-light">Export</span>
                    <span title="Annotations table" data-action-client="annotationsTable"
                        class="action action-annotationsTable text-primary badge badge-pill badge-light">Table</span>
                    {% block specific_actions %}
                    {% endblock specific_actions %}
                    <br />
                    <span class="search-settings pl-1">
                        <label for="regex">Regex</label>
                        <input type="checkbox" class="regexsearch" checked="checked" />&nbsp;
                        <label for="casesensitive" title="Case sensitive search">Aa</label>
                        <input type="checkbox" class="casesensitive" title="Case sensitive search" />&nbsp;
                        Context size:
                        <input type="text" class="contextbefore_size" title="Characters before search result"
                            value="300" size="3" />
                        <input type="text" class="contextafter_size" title="Characters after search result" value="300"
                            size="3" />
                    </span>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
        <div class="container main-app-content">
            {% block content %}
            {% endblock content %}
        </div>
        <script type="text/javascript"
            src="{{root_url}}/files/{{notebookdir_rel}}/web/ext/jquery-3.7.1.min.js"></script>
        <script type="text/javascript" src="{{root_url}}/files/{{notebookdir_rel}}/web/main.js"></script>
        <script type="text/javascript">
            (() => {
                let viewId = "{{ view }}";
                try {
                    mainFn(viewId);
                } catch (error) {
                    document.getElementById(viewId).innerHTML = "Please run the previous cell again.";
                }
            })();
        </script>
        {% endblock body %}
</body>

</html>