<html>

<head>
    {% block head %}
    <link rel="stylesheet"
        href="{{root_url}}/files/{{notebookdir_rel}}/web/ext/bootstrap-4.3.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{root_url}}/files/{{notebookdir_rel}}/web/main.css" />
    {% endblock head %}
</head>

<body>
    {% block body %}
    <div class="container main-app {{ view }}" data-view="{{ view }}" id="{{ view }}">
        <div class="row">
            <div class="col col-4 fs-browser">
                <!-- <button type="button" class="close" aria-label="Close" title="Close file browser">
                    <span aria-hidden="true">&times;</span>
                  </button> -->
                <span class="action onclick close" data-action="toggleFileBrowser" title="Close file browser"><img src="{{root_url}}/files/{{notebookdir_rel}}/web/img/x-square-fill.svg" alt="Close" width="16" height="16"/> </span>
                <div class="fs-contents">Please run the previous cell again</div>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-primary btn-sm"><img src="{{root_url}}/files/{{notebookdir_rel}}/web/img/folder.svg" 
                alt="Show/hide file browser" title="Show/hide file browser" width="16" height="16"
                class="action onclick" data-action="toggleFileBrowser"/></button>
                <div class="contents">
                    {% for form in forms %}
                    <form>
                        {% for entry in form %}
                        {{ entry|form_entry|safe }}
                        {% endfor %}
                    </form>
                    {% endfor %}
                    </form>

                </div>
            </div>
        </div>
        <script type="text/javascript"
            src="{{root_url}}/files/{{notebookdir_rel}}/web/ext/jquery-3.7.1.min.js"></script>
            <script type="text/javascript" src="{{root_url}}/files/{{notebookdir_rel}}/web/main.js"></script>
            <script type="text/javascript" src="{{root_url}}/files/{{notebookdir_rel}}/web/fs.js"></script>
        <script type="text/javascript">
            (() => {
                let viewId = "{{ view }}";
                try {
                    fs(viewId);
                } catch (error) {
                    console.log(error);
                }
                console.log(viewId);
            })();
        </script>
        {% endblock body %}
</body>

</html>