<html>
<body>
    <!-- <script type="text/javascript" src="{{root_url}}/files/{{notebookdir_rel}}/web/main_{{ view }}.js"></script> -->
    <script>
        window.writeToFile = (location, text, callbackAction) => {
    fetch(
        location, {
        method: "PUT",
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
            "format": "text",
            "type": "file",
            "content": text
        }),
    }).then(res => {
        if (typeof callbackAction === "function"){
            callbackAction(res);
        }
    }).catch(err => { console.log(err) });
}

window.getNotebookDir = () => {
    let fullUrl = window.location.href;
    let fullUrlParts = fullUrl.split("/");
    let notebookdir_abs_parts = notebookdir_abs.split("/");
    let commonParts = [];
    let counter_nbdir_part = notebookdir_abs_parts.length - 1;
    for (let i = fullUrlParts.length - 2; i >= 0; i--) {
        let curPartUrl = fullUrlParts[i];
        let curPartNBDir = notebookdir_abs_parts[counter_nbdir_part];
        if (curPartUrl === curPartNBDir){
            commonParts.unshift(curPartUrl);
        } else {
            break;
        }
        counter_nbdir_part -= 1
    }
    return commonParts.join("/");
};

window.notebookdir_rel = getNotebookDir();
window.rootUrl = window.location.href.replace(new RegExp("/lab/.*$"), "");
writeToFile(
    rootUrl + `/api/contents/${notebookdir_rel}/location.json?token=${api_token}`.replace("//", "/"),
    JSON.stringify({"root_url": rootUrl, "notebookdir_rel": notebookdir_rel}),
    (res) => { console.log(res); }
);
    </script>
</body>
</html>
