{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-4 results scrollable">
        <div>Show documents having<br />
            <span>
                <input type="radio" name="connect_operator" value="and" checked>
                <label for="connect_operator">all</label> /
            </span>
            <span>
                <input type="radio" name="connect_operator" value="or">
                <label for="connect_operator">either</label>
            </span>
            of the <span class="font-weight-bold">annotations</span>
        </div>

        {% if not annotations_dict %}
        <div class="border border-warning font-italic mx-1 my-1 px-1" role="alert">
            No annotations available
        </div>
        {% endif %}

        {% for label, annotations in annotations_dict.items()|sort %}
        <div data-action-client="selectAnnotationClass"
            class="action annotation-class selectable border border-info mx-1 my-1 px-1"><span
                class="annotation-class-text">{{ label }}</span> <span
                class="annotation-class-occurs">[{{annotations|length}}]</span></div>
        {% endfor %}

    </div>
    <div class="col-8 results scrollable">
        <div class="row"><span class="docs_count">{{ docs_count }}</span>&nbsp;documents</div>
        {% for doc_id, annotations in docs_data.items()|sort %}
        <div class="row result">
            <div class="col col-6">
                <a data-action-client="gotoDoc" class="file action" data-docId="{{ doc_id }}">{{ doc_id }}</a>
                <img data-action-client="gotoDocOtherView" class="file action"
                data-docId="{{ doc_id }}" title="Open in other view" src="web/img/box-arrow-in-right.svg"
                alt="Open in other view" width="16" height="16" />
            </div>
            <div class="col">
                {% for annotation in annotations %}
                <span class="label annotation-label badge badge-secondary">{{ annotation.text }}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}