{% extends "base.html" %}
{% block content %}


<div class="container">
    <h4>[{{results_count}} search results in {{results_dict.values()|length}} documents] <i>{{ info_about_search }}</i>
    </h4>
</div>
<div class="container scrollable results">
    {% for file, results in results_dict.items() %}
    <div class="row">
        <div class="col">
            <h4>[{{results|length}}] {{ file | basename }}</h4>
        </div>
    </div>
    {% for result in results %}
    <div class="row resultbox">
        <div class="col-8 result pre-wrap" data-pos="{{ file | basename }},{{result.3}},{{result.4}}"><span
                data-action-client="gotoDoc" class="file action" data-docId="{{ file | basename }}">[{{ file | basename
                }}]</span><img data-action-client="gotoDocOtherView" class="file action"
                data-docId="{{ file | basename }}" title="Open in separate cell" src="web/img/box-arrow-in-right.svg"
                alt="Home button" width="16" height="16" /> {{result.0}}<span
                class="match">{{result.1}}</span>{{result.2}}</div>
    </div>
    {% endfor %}
    {% endfor %}

</div>

{% endblock content %}