{% extends "base.html" %}
{% block content %}
<div class="view-singledoc" data-highlight="{{ highlight_range }}" data-docId="{{ doc_id }}">
    <div class="row">
        <div class="col">
            <span class="font-weight-bold">{{ doc_id }}</span> <button type="button"
                data-action-client="saveAnnotations" class="action btn btn-sm btn-outline-dark"
                title="Save annotations">Save</button>
            <button type="button" data-action-client="gotoDoc"
                class="action btn btn-sm btn-outline-dark action-reloadSingleDocView" data-docId="{{ doc_id }}"
                title="Reload the view">&#x21bb;</button>

        </div>

    </div>
    <div class="row resultbox">
        <div class="col-4 results scrollable">
            <span class="doc-labels aside">
                {% for annotation in own_annotations %}
                <span data-action-client="singleDoc_toggleSelectLabel" class="label action badge badge-secondary"
                    data-annotation-info="{{doc_id}},{{annotation.start}},{{annotation.end}}"
                    data-authors="{{annotation.authors}}" data-namespace="{{annotation.namespace}}" data-comment="{{annotation.comment}}"
                    data-timestamp="{{annotation.timestamp}}">{{ annotation.text
                    }}</span>
                {% endfor %}
            </span>
            <h4>All annotations</h4>
            {% for label in all_annotations %}
            <div data-action-client="singleDoc_toggleSelectAnnotationClass"
                class="action annotation-class border border-info mx-1 my-1 px-1">{{ label }}</div>
            {% endfor %}

        </div>
        <div class="col-8 scrollable result pre-wrap" data-result-id="{{ doc_id }}">{{ doc_text|safe }}</div>
    </div>
</div>
{% endblock content %}