.container { padding: 0px; }
.row { margin: 0px; }
.scrollable { height: 400px; overflow-y: scroll; }
button { margin: 2px; }
.result {
/*             max-width: 600px; */
}

.file, .fs-dir {
    font-weight: bold;
}
.file, .goto-doc, .goto-doc-otherview { cursor: pointer; color: #1976d2; }
.action { cursor: pointer; }
.annotation-class { cursor: pointer; }
.match, .highlight {
    background-color: yellow;
}

.pre-wrap {
    white-space: pre-wrap;
}
.selected { background-color: #dfedf7; }
.hidden { display: none; }
.latest-action { text-decoration: underline; } 

.line-height-min { line-height: normal; }
.multipurpose-text, .search-settings { font-size: 80%; }
.action:hover { cursor: pointer; }

.fs-contents { max-height: 400px; overflow-y: auto; overflow-x: auto;}
.breadcrumb { background-color: beige; padding: 0; margin: 2px; }
.fs-item:hover { text-decoration: underline; }
.fs-target { background-color: #dfedf7; } 
.contents input[type=text], .contents textarea { min-width: 400px; }

.action-output { white-space: pre-wrap; font-family: monospace; }
form button { min-width: 200px; }
form label { min-width: 200px; }
button.jupyter-button { display: none; }
button.close { color: #1976d2; }